#status {
    margin: auto;
    width: 50%;
    padding: 10px;
    background: rgba(0, 0, 0, .5);
    color: white;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    top: 200px;
    text-align: center;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

